<h1>aaaaa
    
</h1>

<script type="text/javascript">
    //let productlist=document.createElement('ul')
    const myHeaders=new Headers();
    myHeaders.append('authorization',`Bearer ${localStorage.token}`)
    console.log(localStorage.token)

    fetch('/prueba',{
        //method:'GET',
        headers:myHeaders
        //headers: myHeaders
    })
    .then(resp => resp.json())
    .catch(error => console.error('Error:', error))
    .then(resp =>{
        console.log(resp)
        // resp.render('pruebas',{resp})
        // redirect('/prueba2',)
    })
</script>