<% include ../parcial/_head %>
<% include ../parcial/_menus %>
<script type="text/javascript">
    const myHeaders=new Headers();
            myHeaders.append('token',` ${localStorage.token}`)
            myHeaders.append('rol',` ${localStorage.rol}`)
            myHeaders.append('_id',` ${localStorage.id}`)
            // console.log(localStorage.token)
            if(localStorage.rol=='administrador'){
            
                fetch('/token',{
                    headers:myHeaders
                })
                fetch('/tokeng',{
                    headers:myHeaders
                })
                fetch('/tokenm',{
                    headers:myHeaders
                })
            }else{window.location.replace('/login')}
</script>

<div class="container-fluid col-md-12" > 
        <div class="container-flat-form"  >
            <div class="title-flat-form title-flat-blue" >Registrar un nuevo Uuario</div>
            <form autocomplete="off" action="/crearU" method="POST">
                <div class="row">
                 
                   <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
                        <div class="group-material "style="right:80px">
                                <input type="text" name="nombre"  class="material-control tooltips-general " placeholder="Nombre(s) del usuario" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ ]{1,35}" required maxlength="35" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Nombre(s)</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
                        <div class="group-material "style="right:100px">
                           <input type="text" name="apellido"  class="material-control tooltips-general " placeholder="Apellidos del usuario" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ ]{1,35}" required maxlength="35" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Apellido(s)</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="ci"  class="material-control tooltips-general " placeholder="Cedula de identidad" pattern="[0-9]{1,10}" required maxlength="10" data-toggle="tooltip" data-placement="top" title="Solo numeros">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>C.I.</label>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="ru"  class="material-control tooltips-general " placeholder="Registro Universitario" pattern="[0-9]{1,5}"  maxlength="5" data-toggle="tooltip" data-placement="top" title="Sola numeros">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>R.U.</label>
                            </div>
                    </div>     
                    <!-- <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                                    <span class="material-control tooltips-general ">ROL</span>
                                    <select class="material-control tooltips-general " name="rol">
                                            <option>estudiante</option>
                                            <option>docente</option>
                                            <option>administrador</option>
                                    </select>   
                            </div>
                    </div> -->
                      
                    <input type="hidden" name="rol" value="docente">
                                
                    <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="m1"  class="material-control tooltips-general " placeholder="Sigla de la Materia" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ-0-9-]{1,10}" required maxlength="7" data-toggle="tooltip" data-placement="top" title="Sola mente Texto y Guion">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Materia 1</label>
                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:250px">
                               <input type="text" name="mg1"  class="material-control tooltips-general " placeholder="Grupo" pattern="[1-4]{1,4}" required maxlength="1" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Grupo</label>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="m2"  class="material-control tooltips-general " placeholder="Sigla de la Materia" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ-0-9-]{1,10}" required maxlength="7" data-toggle="tooltip" data-placement="top" title="Sola mente Texto y Guion">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Materia 2</label>
                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:250px">
                               <input type="text" name="mg2"  class="material-control tooltips-general " placeholder="Grupo" pattern="[1-4]{1,4}" required maxlength="1" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Grupo</label>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="m3"  class="material-control tooltips-general " placeholder="Sigla de la Materia" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ-0-9-]{1,10}" required maxlength="7" data-toggle="tooltip" data-placement="top" title="Sola mente Texto y Guion">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Materia 3</label>
                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:250px">
                               <input type="text" name="mg3"  class="material-control tooltips-general " placeholder="Grupo" pattern="[1-4]{1,4}" required maxlength="1" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Grupo</label>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
                            <div class="group-material "style="right:80px">
                               <input type="text" name="m4"  class="material-control tooltips-general " placeholder="Sigla de la Materia" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ-0-9-]{1,10}" required maxlength="7" data-toggle="tooltip" data-placement="top" title="Sola mente Texto y Guion">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Materia 4</label>
                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-2 col-sm-offset-2 ">
                            <div class="group-material "style="right:250px">
                               <input type="text" name="mg4"  class="material-control tooltips-general " placeholder="Grupo" pattern="[1-4]{1,4}" required maxlength="1" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Grupo</label>
                            </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-offset-2 ">
                            <p class="text-center">
                                    <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                    <button type="submit" class="btn btn-primary"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Registrar</button>
                             </p> 
                    </div>
                </div>
            </form>
        </div>
    </div>