<!-- cuando ya tienes mas de una materia creada aparece una lista al lado del formulario -->
<% include ../parcial/_head %>
<% include ../parcial/_menus %>
        <div class="container">
            <div class="page-header">
              <h1 class="all-tittles">Sistema de Guias de Laboratorio <small>Administración Usuarios</small></h1>
            </div>
        </div>
        <div class="conteiner-fluid">
            <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                <!-- <li role="presentation"><a href="creargestion">Gestion</a></li> -->
                <li role="presentation"  class="active"><a href="indexM">Materias</a></li>
                
            </ul>
        </div>
        <div class="container-fluid"  style="margin: 5px 0;">
            <!-- <div class="row"> -->
                <!-- <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="assets/img/book.png" alt="user" class="img-responsive center-box" style="max-width: 110px;">
                </div> -->
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                    Bienvenido a la sección para registro de materias debe de llenar todos los campos del siguiente formulario, también puedes ver el listado de materias
                </div>
            <!-- </div> -->
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 lead">
                    <ol class="breadcrumb">
                      <li class="active">Nueva materia</li>
                      <li><a href="listM">Listado de materias</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid col-md-5" > 
            <div class="container-flat-form"  >
                <div class="title-flat-form title-flat-blue" >Registrar una nueva Materia</div>
                <form autocomplete="off" action="/crearM" method="POST">
                    <div class="row">
                       <div class="col-xs-5 col-sm-7 col-sm-offset-2 " style="right: 10px">
                            <div class="group-material">
                                    <input type="text" name="nombre" class="material-control tooltips-general" placeholder="Escribe Nombre de Materia" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ ]{1,35}" required maxlength="35" data-toggle="tooltip" data-placement="top" title="Sola mente Texto">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Nombre</label>
                            </div>
                            <div class="group-material">
                                <input type="text" name="sigla" class="material-control tooltips-general" placeholder="Escriba Sigla de la Materia" pattern="[ZA-ZáéíóúÁÉÍÓÚñÑ-0-9- ]{1,10}" required maxlength="8" data-toggle="tooltip" data-placement="top" title="Solamente Numeros y Guiones">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Sigla</label>
                            </div>
                            <div class="group-material">
                                <input type="number" name="grupo" class="material-control tooltips-general" placeholder="Escriba el grupo de la materia" pattern="[1-4 ]{1,50}" max="4" min="1" required maxlength="1" data-toggle="tooltip" data-placement="top" title="Solamente Numeros">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Grupo</label>
                            </div>
                            
                            <p class="text-center">
                                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                <button type="submit" class="btn btn-primary"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Registrar</button>
                            </p> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <%if(resp.message==undefined) {%>
            <div class="container-fluid col-md-5" > 
                <div class="container-flat-form"  >
                    <form autocomplete="off">
                                <div class="container-fluid">
                                        <h2 class="text-center all-tittles" style="clear: both; margin: 25px 0;">Materias Creadas</h2>
                                        <div class="table-responsive">
                                            <div class="div-table" style="margin:0 !important;">
                                                <div class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;">
                                                    <div class="div-table-cell" style="width: 6%;">Nº</div>
                                                    <div class="div-table-cell" style="width: 15%;">Nombre</div>  
                                                </div>
                                            </div>
                                            <% for(var i=0; i < resp.materia.length; i++) { %>
                                                    <div class="table-responsive">
                                                            <div class="div-table" style="margin:0 !important;">
                                                                <div class="div-table-row div-table-row-list">
                                                                        <div class="div-table-cell" style="width: 6%;"><%= i + 1%></div>
                                                                        <div class="div-table-cell" style="width: 15%;"><%= resp.materia[i].nombre %></div>   
                                                                </div>
                                                            </div>
                                                        </div>
                                                 
                                            <% } %> 
                                        </div>
                                    </div>
                        </form>
                </div>
            </div>
        <%}%>
        <div class="modal fade" tabindex="-1" role="dialog" id="ModalHelp">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center all-tittles">ayuda del sistema</h4>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore dignissimos qui molestias ipsum officiis unde aliquid consequatur, accusamus delectus asperiores sunt. Quibusdam veniam ipsa accusamus error. Animi mollitia corporis iusto.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> &nbsp; De acuerdo</button>
                </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>