<!-- para que pueda crear gestiones y listar gestiones existentes-->
<% include ../parcial/_head %>
<% include ../parcial/_menus %>
        <div class="container">
            <div class="page-header">
              <h1 class="all-tittles">Sistema de Guias de Laboratorio <small>Administración Usuarios</small></h1>
            </div>
        </div>
        <div class="conteiner-fluid">
            <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                <li role="presentation" class="active"><a href="gestion">Gestion</a></li>

            </ul>
        </div>
        <div class="container-fluid"  style="margin: 50px 0;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="assets/img/user03.png" alt="user" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                    Bienvenido para iniciar primaremenete deve crear una nueva gestion..
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 lead">
                    <ol class="breadcrumb">
                      <li class="active">Nueva Gestion</li>
                      <li><a href="listG">Ver Gestion</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid">
                <div class="container-flat-form">
                    <div class="title-flat-form title-flat-blue">Crear una nueva gestion</div>
                    <form autocomplete="off" action="/crearG"  method="POST">
                        <div class="row">
                           <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="group-material">
                                    <input type="text" class="material-control tooltips-general" placeholder="Ingrese nombre de la Gestion. Ejm:..1/2019"  name="nombre" pattern="[0-9/]{1,7}" required maxlength="7" data-toggle="tooltip" data-placement="top" title="Solamente barras diagonales y numeros ">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Gestion</label>
                                </div>
                        
                                <p class="text-center">
                                    <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                    <button type="submit" class="btn btn-primary" value="siguiente"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Crear Gestion</button>
                                </p> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="ModalHelp">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center all-tittles">ayuda del sistema</h4>
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore dignissimos qui molestias ipsum officiis unde aliquid consequatur, accusamus delectus asperiores sunt. Quibusdam veniam ipsa accusamus error. Animi mollitia corporis iusto.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> &nbsp; De acuerdo</button>
                </div>
            </div>
          </div>
        </div>
        
    </div>
</body>
</html>